body {
    background: linear-gradient(#0066ff, #0000ff, #6600ff);
}

img {
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 255, 0, 1);;    
}

h1 {
    font-family: Garamond, serif;
    font-size: 150%;
    color: #1ef742;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

h2 {
    font-family: "Garamond", serif;
    font-size: 130%;
    font-style: italic;
    color: #ff7b00;
    text-shadow: 
      2px 2px 5px rgba(0, 0, 0, 1),
      4px 4px 10px rgba(0, 0, 0, 1);
}

p {
    font-family: Garamond, serif;
    font-size: 125%;
    color: #00f2ff;
}

.contacts {
    font-size: 125%;
    font-style: italic;
    color: #1ef742;
    text-shadow: 
      2px 2px 5px rgba(0, 0, 0, 1),
      4px 4px 10px rgba(0, 0, 0, 1);
}

.anchor {
	font-family: Garamond, serif;
    font-size: 125%;
    color: #00f2ff;	
	animation: glowBlue 2s ease-in-out infinite;
}

@keyframes glowBlue {
    0%, 100% {
        text-shadow: 0 0 10px rgba(0, 255, 255, 1);
    }
    50% {
        text-shadow: none;
    }
}